There are two basic object types in pandas that hold data.

The first one is the **data frame** and it's just a table of rows and columns. Each of those columns is known as a *pandas series*.

In [2]:
import pandas as pd

In [4]:
# example dataframe
ufo = pd.read_csv('http://bit.ly/uforeports')

In [6]:
type(ufo) # checks the data type

pandas.core.frame.DataFrame

In [7]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [11]:
ufo['City'] # selects the 'City' series

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [12]:
# shortcut for selecting series
ufo.City # known as dot notation

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
                 ...
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

In [15]:
# sometimes column headers need to be selected using bracket notation
ufo['Colors Reported']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
18236    NaN
18237    NaN
18238    NaN
18239    RED
18240    NaN
Name: Colors Reported, Length: 18241, dtype: object

**Dot notation** will only work on certain circumstances whereas **bracket notation** always works.

In [18]:
'ab' + 'cd'

'abcd'

In [19]:
ufo.City + ufo.State

0                      IthacaNY
1                 WillingboroNJ
2                     HolyokeCO
3                     AbileneKS
4        New York Worlds FairNY
                  ...
18236              Grant ParkIL
18237             Spirit LakeIA
18238             Eagle RiverWI
18239             Eagle RiverWI
18240                    YborFL
Length: 18241, dtype: object

**Important Note:** You need to use **bracket notation** when creating a new series in a data frame.

In [20]:
# bad example
ufo.Location = ufo.City + ', ' + ufo.State

<ipython-input-20-96f3cec5dd46>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  ufo.Location = ufo.City + ', ' + ufo.State

In [21]:
# good example
ufo['Location'] = ufo.City + ', ' + ufo.State

In [23]:
ufo.head() # output

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"